<footer>
    <div class="f-info">

        <!-- Social Links -->
        <div class="f-info-socials">
            <div class="social-item">
                <a href="https://github.com/yashdotin"><i class="fa-brands fa-github"></i></a>

            </div>
            <div class="social-item">
                <a href="https://www.instagram.com/yash.awasthi.10/"><i class="fa-brands fa-square-instagram"></i></a>

            </div>
            <div class="social-item">
                <a href="https://www.linkedin.com/in/yash-awasthi-a7aa5b334/"><i
                        class="fa-brands fa-square-linkedin"></i></a>

            </div>
            <div class="social-item">
                <a href="https://x.com/Yashjs10"><i class="fa-brands fa-x"></i></a>

            </div>
        </div>
        <div class="f-info-brand">&copy; Arka Private Limited</div>
        </div>
        

        <!-- Company Info & Links -->
        <div class="f-info-bottom">
            <div class="f-made ">
                Made with <span style="color:red;">❤️</span> in India.
            </div>
            <div class="f-made ">
                Made By <b>Yash Awasthi</b>.
            </div>
            <div class="theme-toggle">
                <button onclick="setTheme('light')" id="lightBtn" class="active">Light</button>
                <button onclick="setTheme('soft')" id="softBtn">Soft</button>
            </div>


        </div>



    
</footer>