<%- layout('/layouts/boilerplate.ejs') %>

<div class="container mt-5 col-md-6 offset-md-3">
  <h2>Forgot Password</h2>
  <form action="/forgot" method="POST">
    <div class="mt-3">
      <label for="email" class="form-label">Enter your registered email:</label>
      <input type="email" name="email" id="email" class="form-control" required>
    </div>
    <button class="btn btn-success mt-3">Send Reset Link</button>
  </form>
</div>
