<%- layout('/layouts/boilerplate.ejs') %>

    <div class="container mt-5 col-md-6 offset-md-3">
        <form action="/signin" method="POST">
            <h1>Login</h1>
            <div class="mt-3">
                <label for="username" class="form-label">Username:</label>
                <input type="text" id="username" name="username" class="form-control" required>
            </div>
            <div class="mt-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-success mt-3">Login</button>
            <div>

                <p class="mt-3">
                    Forgotten your password?
                    <a href="/forgot" class="text-decoration-none">
                        <i class="fa-solid fa-key"></i>
                    </a>
                </p>

            </div>
        </form>
    </div>